:root {
  --theme-bg: #1f1d2b;
  --body-color: #808191;
  --button-bg: #353340;
  --border-color: rgb(128 129 145 / 24%);
  --video-bg: #252936;
  --delay: 0s;
}

.navbar_container {
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  width: 100%;
  height: 100%;
}

.navbar_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar_search_input_container {
  height: 34px;
  display: flex;
  width: 100%;
  max-width: 450px;
}
.navbar_search_input_container > input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--button-bg);
  border-radius: 8px;
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 500;
  padding: 0 40px 0 16px;
  box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 96%;
  color: #fff;
}

.navbar_user_info_container {
  display: flex;
  height: 100%;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.user-info > img {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}
.user-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.user-name > svg {
  width: 0.6rem;
  height: 0.6rem;
  cursor: pointer;
  /* opacity: 0.4; */
}
.notify {
  display: flex;
  position: relative;
}
.notification > svg {
  width: 1.3rem;
  cursor: pointer;
}
.notification-active {
  border-radius: 5px;
  background: #b8352c;
  width: 8px;
  height: 8px;
  position: absolute;
  right: 0;
  top: 0;
}
.user-login-container {
  /* background: linear-gradient(137deg, #1bacf4 0%, #19eeb5 100%); */
  border-radius: 5px;
  padding: 0.5px 0.5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.user-login-container > p {
  background: var(--theme-bg);
  margin: 0rem;
  border-radius: 5px;
}
.user-login-container > p > span {
  margin: 0rem;
  padding: 0.1rem 1rem;
  border-radius: 5px;
  background: #1e1e1e;
  /* background: linear-gradient(137deg, #1bacf4 0%, #19eeb5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; */
  font-weight: 500;
}
.logout-container {
  border-radius: 5px;
  color: #ffffff;
  padding: 9px 16px;
  font-weight: 600;
}

/* sidebar button*/
.navbar_sidebar_button {
  position: relative;
  cursor: pointer;
  width: 2rem;
  height: 100%;
}
.menu-item,
.menu-open-button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: #ffffff;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.lines {
  width: 25px;
  height: 4px;
  background: var(--button-bg);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.line-1 {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
}

.line-2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.line-3 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .line-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .line-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .line-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg);
}
/* Login page css============================================= */
.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.5);
}

.login-container {
  width: 50rem;
  background: #050505;
  padding: 5rem 3rem;
  border-radius: 5px;
}

@media screen and (max-width: 640px) {
  .user-name {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .user-login-container {
    display: none;
  }
  .notify {
    display: none;
  }
  .navbar_user_info_container {
    margin-left: 1rem;
  }
}
