.sidebar {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  transition-duration: 0.2s;
  overflow-y: auto;
  overflow-x: hidden;
  .logo {
    display: none;
    width: 30px;
    height: 30px;
    background-color: #22b07d;
    flex-shrink: 0;
    color: #fff;
    align-items: center;
    border-radius: 50%;
    justify-content: center;

    &-expand {
      text-decoration: none;
      color: #fff;
      font-size: 19px;
      font-weight: 600;
      line-height: 34px;
      position: sticky;
      top: 0;
      &:before {
        content: "";
        position: absolute;
        top: -30px;
        left: 0;
        background: var(--theme-bg);
        width: 200px;
        height: 70px;
        z-index: -1;
      }
    }
  }
}
.side-menu > a > svg {
  width: 2rem;
  height: 3rem;
}
.side-menu > a {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
  align-items: center;
}

.side-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--body-color);
    & + a {
      margin-top: 26px;
    }
  }
  svg {
    width: 30px;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--button-bg);
    flex-shrink: 0;
    margin-right: 16px;
    &:hover {
      color: #fff;
    }
  }
}

.side-title {
  font-size: 12px;
  letter-spacing: 0.07em;
  margin-bottom: 24px;
}

.side-wrapper {
  border-bottom: 1px solid var(--border-color);
  padding: 36px 0;
  width: 100%;
  & + & {
    border-bottom: none;
  }
}
